.event-section {
  position: relative;
  padding-bottom: 90px;
}

@media (max-width: 991px) {
  .event-section {
    padding-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .event-section {
    padding-bottom: 60px;
  }
}

.event-section .top-area {
  background: url('../images/event-bg.jpg') center center/cover no-repeat local;
  text-align: center;
  width: 100%;
  height: 60%;
  padding: 120px 0 250px;
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 991px) {
  .event-section .top-area {
    padding: 100px 0 250px;
  }
}

@media (max-width: 767px) {
  .event-section .top-area {
    padding: 80px 0 0;
  }
}

.event-section .top-area:before {
  content: '';
  background: -webkit-linear-gradient(top, #b2c9d3 30%, transparent);
  background: -moz-linear-gradient(top, #b2c9d3 30%, transparent);
  background: -o-linear-gradient(top, #b2c9d3 30%, transparent);
  background: -ms-linear-gradient(top, #b2c9d3 30%, transparent);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #b2c9d3), to(transparent));
  background: linear-gradient(top, #b2c9d3 30%, transparent);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.event-section .top-area h2,
.event-section .top-area p {
  position: relative;
  z-index: 2;
}

.event-section h2 {
  font-family: 'aphroditeslimtextregular';
  font-size: 60px;
  font-size: 4rem;
  color: #fff;
}

@media (max-width: 991px) {
  .event-section h2 {
    font-size: 40px;
    font-size: 2.66667rem;
  }
}

@media (max-width: 767px) {
  .event-section h2 {
    font-size: 38px;
    font-size: 2.53333rem;
  }
}

.event-section .date {
  font-size: 24px;
  font-size: 1.6rem;
  color: #fff;
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .event-section .date {
    font-size: 18px;
    font-size: 1.2rem;
  }
}

.event-section .event-grids {
  margin: 355px -15px 0;
}

@media (max-width: 991px) {
  .event-section .event-grids {
    margin: 255px -15px 0;
  }
}

@media (max-width: 767px) {
  .event-section .event-grids {
    margin: 255px -7.5px 0;
  }
}

.event-section .event-grids .grid {
  background: #fff;
  width: calc(33.33% - 30px);
  float: left;
  padding: 60px;
  margin: 0 15px 30px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 13.65px 7.35px rgba(178, 201, 211, 0.18);
  box-shadow: 0px 4px 13.65px 7.35px rgba(178, 201, 211, 0.18);
}

@media (max-width: 991px) {
  .event-section .event-grids .grid {
    width: calc(50% - 30px);
  }
}

@media (max-width: 767px) {
  .event-section .event-grids .grid {
    width: calc(50% - 15px);
    padding: 50px 20px;
    margin: 0 7.5px 30px;
  }
}

@media (max-width: 550px) {
  .event-section .event-grids .grid {
    width: calc(100% - 15px);
  }
}

.event-section .event-grids h3 {
  font-family: 'aphroditeslimtextregular';
  font-size: 22px;
  font-size: 1.46667rem;
  position: relative;
  margin: 0 0 1.4em;
  padding: 0 0 0.8em;
}

@media (max-width: 767px) {
  .event-section .event-grids h3 {
    font-size: 17px;
    font-size: 1.13333rem;
  }
}

.event-section .event-grids h3:before {
  content: '';
  background: #e9eaea;
  width: 120px;
  height: 2px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}

.event-section .event-grids p {
  font-size: 14px;
  font-size: 0.93333rem;
}

@media (max-width: 767px) {
  .event-section .event-grids p {
    font-size: 13px;
    font-size: 0.86667rem;
  }
}

.event-section .event-grids .phone {
  font-size: 16px;
  font-size: 1.06667rem;
  color: #202a41;
  margin: 1em 0;
}

@media (max-width: 767px) {
  .event-section .event-grids .phone {
    font-size: 14px;
    font-size: 0.93333rem;
  }
}

.event-section .event-grids .location {
  font-size: 12px;
  font-size: 0.8rem;
  color: #b2c9d3;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: underline;
}
