.history {
  position: relative;
  display: inline-block;

  img {
    object-fit: cover;
    min-height: 98vh;
    max-width: 100%;
    max-height: 100%;

    $brightness: 80%;
    -webkit-filter: brightness($brightness);
    -moz-filter: brightness($brightness);
    -o-filter: brightness($brightness);
    -ms-filter: brightness($brightness);
    filter: brightness($brightness);
  }

  .history_text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25%;
    text-align: center;
    width: 95%;
    color: rgba($color: #ffffff, $alpha: 1);

    .title {
      color: black;
      font-size: 30px;
      font-weight: 700;
    }

    .body {
      color: rgba($color: #202020, $alpha: 1);
      padding: 0 30px;
      line-height: 1.8;
    }
  }
}
